#tag p {
  font-style: italic;
  text-align: center;
}

#big-btn {
  height: 60px;
  width: 275px;
  font-size: 1.6rem;
  background-color: rgb(245, 251, 252);
  border: none;
  box-shadow: #3037457a 2px 3px 4px 0px;
  border-radius: 15px 15px;
  letter-spacing: 0.15rem;

  font-family: 'Raleway', sans-serif;
}

.quote-card p {
  float: right;
}

.inspire {
  height: 35px;
  width: 200px;
  font-size: 1.3rem;
  background-color: rgb(245, 251, 252);
  border: none;
  letter-spacing: 0.15rem;
  border-radius: 10px 10px;
  box-shadow: #3037457a 2px 3px 4px 0px;
  
  font-family: 'Raleway', sans-serif;

}

.section-card {
  width: 70%;
  height: fit-content;
}

.img-card {
  font-family: 'Gentium Basic', serif;
  text-align: center;
  width: 85%;
  margin: auto;
  margin-top: 20px;

}

.img-card img {
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
}

.img-card > h3 {
  font-family: 'Raleway', sans-serif;  font-style: italic;
  font-weight: 100;
}

.img-card > p {
  font-weight: bold;
  margin-top: 10px;
  line-height: 1.7rem;
}

.img-card h3, .img-card > p {
  padding-right: 10px;
  padding-left: 10px;
  letter-spacing: 0.25px;
}

#save {
  height: 30px;
  width: 175px;
  font-size: 1.1rem;
  background-color: rgb(245, 251, 252);
  border: none;
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 10px 10px;
  box-shadow: #3037457a 2px 3px 4px 0px;

  font-family: 'Raleway', sans-serif;

}

#imagga {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-top: 10px;
  padding-top: 15px;
  background-color: rgb(245, 251, 252);
}

#hexDiv {
  font-family: monospace;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(245, 251, 252);
}

#hexDiv p {
  font-size: 1.2rem;
  padding: 7px 12px;
  margin: 7px;
}

.stuff {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.bio-card {
  width: 85%;
  height: fit-content;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}


.stuff h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  padding-bottom: 10px;
  text-align: left;
}

.stuff p {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  padding-right: 10px;
  letter-spacing: 0.25px;
}

.about-links img {
  min-width: 45px;
}

.about-links img:first-child {
  margin-bottom: 15px;
}
