<%- include('../layout/top') %>

<%- include('../layout/header') %>


<main>

  <section>
    
    <img src="/public/img/error.png" alt="error">

  </section>

</main>


<%- include('../layout/footer') %>

<%- include('../layout/bottom') %>
