
<%- include('../layout/top') %>

<%- include('../layout/header') %>


<main>
  <h1>HOME PAGE</h1>
  <!-- ADD ALL THE THINGS -->
</main>


<%- include('../layout/footer') %>

<%- include('../layout/bottom') %>
