<footer>
  <!-- Icon source: https://www.iconfinder.com/neilorangepeel -->
  <img src="/img/iconfinder_facebook_square_black_107119.png" alt="facebook icon">
  <img src="/img/iconfinder_instagram_square_black_107097.png" alt="instagram icon">
  <!-- Copyright HTML symbol: https://www.w3schools.com/html/html_symbols.asp -->
  <p>&#169; Team Charmander 2020</p>
  <img src="/img/iconfinder_twitter_square_black_107068.png" alt="twitter icon">
  <img src="/img/iconfinder_github_square_black_107109.png" alt="github icon">
</footer>