<footer>

  <img src="/img/pinterest.png" alt="pinterest icon">

  <img src="/img/facebook.png" alt="facebook icon">

  <a href="https://github.com/team-charmander-blaze/respite">&#169; Team Charmander 2020</a>

  <img src="/img/tumbler.png" alt="tumbler icon">

  <img src="/img/insta.png" alt="instagram icon">

</footer>