<header>
  

  <nav>
    
    <!-- TODO: Insert Logo Image here -->
    <h1> <a href="/">LOGO IMG</a></h1>
    
    <!-- Partial Hamburger guidance from a public CodePen - Erik Terwan https://codepen.io/erikterwan/pen/EVzeRP -->
    <div id="menuToggle">
      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/favorites">Favorites</a></li>
        <li><a href="/about">About Us</a></li>
      </ul>
    </div>
    
  </nav>


</header>