<header>

  <nav>
    
    <h1> <a href="/"><img src="/img/favicon-transparent-white.png" alt=""></a></h1>
    
    <div id="menuToggle">
      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/favorites">Favorites</a></li>
        <li><a href="/aboutus">About Us</a></li>
      </ul>
    </div>
    
  </nav>

</header>